
*{
  list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  font-family: 'Titan One', cursive;

}



.header p{
  color: #484444;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 10%;
  align-items: center;
  font-size: 50px;
  font-family: 'Titan One', cursive;
}



.sidebar-content{
    display: none;
    background: white;
    position: fixed;
    top: 0;
  	left: 0;
    width:225px;
    height: 100%;
    padding: 20px 0;
    border-right: 2px solid #484444;
}




.sidebar-content ul li a{
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #484444;
    color: #484444;
    font-size: 20px;
    position: relative;
}



.sidebar-content ul li a:hover{
    color: white;
    background: #484444;
    border-right: 2px solid #484444;
}


.bars{
  display: block;
  margin: 5px;
  cursor: pointer;
}

.bars div{
  width: 35px;
  height: 5px;
  margin: 6px 0;
  background-color: #484444;

}


.bars-close{
  display: block;
  margin: 5px;
  cursor: pointer;
}

.bars-close div{
  width: 35px;
  height: 5px;
  margin: 6px 0;
  background-color: #484444;
}
